{
  "plugins": [
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "extractFromFormatMessageCall": true,
        "removeDefaultMessage": true,
        "ast": true
      }
    ]
  ]
}
